<h3>Pragmatic Order Received</h3>
<p>
Dear <%= @order.name %>
</p>
<p>
Thank you for your recent order from The Pragmatic Store.
</p>
<p>
You ordered the following items:
</p>

<table>
	<tr>th colspan="2"Qty</th><th>Description</th></tr>
<%= render @order.line_items %>
</table>
<p>
We will send you a separate email when your order ships.
</p>
<p>
Thank you,
</p>
<p>
Your Friends at The Pragmatic Store
</p>
